/* ========== BANNER ========== */

.mainBanner {
  background-image: url('https://picsum.photos/id/116/1000/535');
}

#blogpage1Banner {
  background-image: url('https://picsum.photos/id/10/1800/535');
}
#blogpage2Banner {
  background-image: url('https://picsum.photos/id/1016/1800/535');
}
#blogpage3Banner {
  background-image: url('https://picsum.photos/id/155/1800/535');
}
#blogpage4Banner {
  background-image: url('https://picsum.photos/id/249/1800/535');
}

#aboutBanner {
  background-image: url('https://picsum.photos/id/123/1000/535');
}

.bannerPanel {
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerText {
  font-size: 2rem;
  font-weight: 200;
  color: white;
  z-index: 1001;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  text-shadow: 0 0 10px black;
}

.bannerPanel button {
  color: white;
  padding: 0.4rem 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.8rem;
  font-weight: 700;
  border: solid 2px white;
  transition: all 800ms ease;
  background-color: rgba(55, 55, 55, 0.2);
}

.bannerPanel button:hover {
  color: #111;
  background-color: white;
  cursor: pointer;
}

/* ========== RESPONSIVE ========== */
@media (min-width: 640px) {
  .bannerText {
    font-size: 3rem;
  }

  .bannerPanel {
    height: 335px;
    margin: 2rem 2rem 3rem;
  }
}

/* large 1024px */
@media (min-width: 1024px) {
  .bannerPanel {
    height: 335px;
  }

  .bannerText {
    font-size: 4rem;
  }
}
