/* ========================================================================== */
/* DETAILS PAGE */
/* ========================================================================== */

#detailsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.detailsArticle {
  width: 90%;
  color: #333;
}

.detailsArticle p {
  color: #666;
}

.detailsArticle h2 {
  margin-bottom: 2rem;
  /* font-size: 3rem;
  color: #666; */
}

.detailsImg2 {
  width: 50%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-bottom: 2rem;
}

#map {
  height: 420px;
  width: 100%;
  margin: 2rem 0 3rem;
}

/* DETAILS-PAGE RESPONSIVE */
/* ========================================================================== */
@media (min-width: 640px) {
  #detailsContainer {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .detailsArticle {
    width: 60%;
  }
}
