/* ==========================================================================
   Input Form
   ========================================================================== */

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* margin: 0 18rem; */
}

.formContainer input,
.formContainer textarea {
  margin-top: 1rem;
  width: 100%;
}

.formContainer button {
  width: 200px;
  margin: 0 2rem;
  align-self: center;
}

#addPostForm {
  width: 40%;
  min-width: 600px;
  /* color: red; */
  color: #333;
}

#ratingField {
  /* font-size: 0.8rem; */
  color: #777;
}

/* #ratingField select {
  background-color: aqua;
} */

textarea {
  resize: none;
}

#monthField,
#yearField {
  /* color: #bbb; */
  width: 7rem;
}

/* ==========================================================================
   Overview CARDS
   ========================================================================== */

.overlayButton {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 20000;
}

.ratingContainer {
  height: 1rem;
  width: 85px;
}

/* ========== BLOG POST ========== */

.blogPost {
  margin: 0.5rem;
  border-radius: 4px;
  overflow: hidden;
  width: 80%;
  background-color: #fefefe;
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
  position: relative;
}

.blogPost:hover {
  background-color: #fff;
  transform: scale(1.02);

  box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.blogImage {
  width: 100%;
  /* height: 80px; */
  background-repeat: no-repeat;
  background-size: 100%;
  /* margin-bottom: 1rem; */
}

.blogTextWrapper {
  padding: 0 2rem 2.5rem;
  height: 10.3rem;
  overflow: hidden;
}

.blogTextWrapper h2 {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}

.blogTextWrapper p {
  font-size: 16px;
  font-weight: 300;
  color: #4a5568;
}

.authorPic img {
  height: 40px;
  border-radius: 50%;
  float: left;
  bottom: 0;
  margin: 4px 16px 0 0;
}

.largePic img {
  height: 120px;
}

p.author {
  color: #4a5568;
  margin-top: 0.3rem;
  display: inline-block;
}

.cardBottom {
  padding: 1rem 2rem 2rem;
}

/* ========== RESPONSIVE ========== */
/* small 640px */
@media (min-width: 640px) {
  .blogPost {
    width: 40%;
    /* width: 80%; */
    max-width: 600px;
  }
}
