.footer {
  /* background: linear-gradient(to top, rgba(255,0,0,0) 0%,rgba(255,255,255,1) 100%); */
  margin-top: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 80%; */
  background-size: 100%;

  /* background-image: url("https://picsum.photos/id/13/1000/800"); */
  /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */

  background-image: linear-gradient(
      to top,
      rgba(255, 0, 0, 0.1),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url("https://picsum.photos/id/156/1000/1200");

  /* background-image: url("https://picsum.photos/id/156/1000/800"); */
  /* background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 1)
    ),
    url('../assets/plane.jpg'); */

  /* background-image: url('../assets/img-footer.jpg'); */
}

.footerTitle {
  color: #111;
  font-size: 1.5rem;
  font-weight: 400;
  margin: auto 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.footer {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    /* align-items: stretch; */
    padding-top: 6rem;
}

.socialMediaFooter a {
  color: #000;
  /* display: inline-block; */
  display: inline-block;
  font-size: 1.4rem;
  margin: 0.5rem;
  transition: transform 250ms ease-in-out;
  
  /* justify-content: space-between; */
  /* align-items: center; */
}
.socialMediaFooter a:hover {
  transform: scale(1.1) translateY(-1px);
}

.functionFactoryLink {
    font-size: 0.8rem;
    color: #000;
    /* transform: scale(1.01) translateY(-1px); */
}
/* 

.worldLogoFooter {
    height: 2rem;
    margin-bottom: 0.4rem;
}

.companyNameFooter:hover {
    transform: scale(1.1);
    color: red; 
} */