/* ========== HEADER ========== */
.header {
  background-color: #fff;
  border-bottom: 0.125rem #155e39 solid;
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}

.header .logo {
  height: 27px;
}

.header #companyName {
  color: #111;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.worldLogo {
  margin-bottom: 10px;
  height: 2rem;
}

/* ========== NAV  ========== */

.header nav a {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #155e39;
  margin: 0.3rem 0rem;
  display: block;
  transition: color 800ms ease-in-out, transform 800ms ease-in-out;
  text-align: right;
}

.header nav a:hover {
  color: #111;
  transition: color 250ms ease-in-out, transform 250ms ease-in-out;
}

/* ========== RESPONSIVE ========== */
/* small 640px */
@media (min-width: 640px) {
  .header nav a {
    display: inline-block;
    margin: 0 1rem;
    font-size: 0.8rem;
  }

  .header nav a:hover {
    transform: scale(1.1) translateY(-1px);
    color: #111;
    transition: color 250ms ease-in-out, transform 250ms ease-in-out;
  }
}

/* lg 1024px */
@media (min-width: 1024px) {
  .header #companyName {
    font-size: 2.5rem;
  }

  .worldLogo {
    margin-bottom: 10px;
    height: 4rem;
  }

  .header nav a {
    font-size: 1rem;
  }
}
