@import "sh_sanitize.css";
@import "card_style.css";
@import "header_style.css";
@import "banner_style.css";
@import "footer_style.css";

/* input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
} */


.container {
  display: grid;
  grid-template-areas:
    "hd "
    "main"
    "ft ";
}

.header {
  grid-area: hd;
  height: 7rem;
  position: fixed;
  width: 100%;
}

.main {
  grid-area: main;
  min-height: 800px;
  margin-top: 7rem;
  background-color: #fff;
}

.footer {
  grid-area: ft;
  min-height: 400px;
  /* height: 300px; */
}

#blogContainer {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


/* If Screen Is Wide Enough */
/* tailwind-small 640px */
@media (min-width: 640px) {
  #blogContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

/* tw-lg 1024 */
@media (min-width: 1024px) {
  
}