.authorPic img {
  border-radius: 50%;
  float: left;
  bottom: 0;
  margin: 4px 16px 0 0;
  height: 120px;
}

p.author {
  color: #4a5568;
  margin-top: 0.3rem;
  display: inline-block;
}

.aboutAuthorInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 0.8rem;
  color: #888;
  height: 100%;
}

.aboutAuthorInfo .author {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.aboutAuthorText {
  margin-top: 0;
  padding: 0 15%;
  font-size: 0.8rem;
  color: #888;
  height: 100%;
  text-align: center;
}

.aboutBottom {
  margin-top: 3rem;
}

/* ABOUT RESPONSIVE */
/* ========================================================================== */
@media (min-width: 640px) {
  .aboutAuthorInfo {
    flex-direction: row;
  }

  .aboutAuthorText {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    margin-top: 2rem;
  }
}
