textarea {
  resize: none;
}

.formContainer {
  margin: 0 2rem;
  /* display: flex;
  flex-direction: column; */
}

.formContainer input,
.formContainer textarea {
  margin-top: 1rem;
  width: 100%;
}

.formContainer button {
  width: 200px;
  margin: 0 2rem;

  align-self: center;
}

.dateInput {
  color: #666;
  width: 40%;
}
